*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif; 
}



.banner-title {
    position: absolute; 
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
    width: 100%;
    z-index: 1;
    text-transform: uppercase;
}



.banner-image {
    height: 100vh;
    position: relative;
    background-size: cover;
    background-image: url(../images/Cartwheel\ Galaxy.jpeg);
    /* Adds the "filter" over the background image */
    background-color: rgba(0,0,0,0.7);
    background-blend-mode: multiply;
    
    background-position: center;
}



.header_text_v1 {
    padding: 50px 20px 0 20px;
    color: white; 
    font-size: 40px;
    text-transform: uppercase;
    background-color: black;
}
/* Instead of "header-text", the events page uses "title-text" */
.header_text_v2 {
    font-size: 50px;
    text-align: center;
    color: white;
    text-transform: uppercase;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: bolder;
    background-color: black;
    padding: 50px 20px 0 20px;
}



.text-break{
    content: '';
    height: 3px;
    width: 100%;
    background: white;
    margin-top: 15px; 
}



.subheader-text {
    background: black;
    color: white; 
}
.subheader-text h2 {
    padding: 25px 0 0 20px;
}
.subheader-text h3 {
    padding: 25px 0 0 20px;
}
.subheader-text p {
    padding: 25px 0 0 20px;
}



/* used for Mrs. Adegbaju's picture on "about-us" */
.images {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}



.backgroundImg {
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



.embed-box-container {
    position: relative; 
    display: flex; 
    justify-content: center;
    padding: 20px;
    background: black;
}



.embed-box {
    width: 90%;
    height: 80vh;
    border: 5px solid red;
    border-style: dashed;
    border-radius: 15px;
    background: white;
}



.hypertext-link {
    position: relative;
    display: flex; 
    justify-content: center;
    padding: 40px;
    color: white;
    background-color: black;
}





/* miscellaneous */
.break {
    position: relative; 
    width: 100%;
    height: 50vh;
    background: transparent; 
}



/* detail card for the captians */
.detail_card_v2 h1{
    font-size: 25px;
    margin-bottom: 25px;
}



@media (max-width: 1024px) {
    *{
        overflow-x: hidden;
    }



    /* Makes the list of captains go from being listed out horizontally to vertically */
    .detail_card_v2 {
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows: repeat(4, 25%);
        padding-top: 20px;
        padding-bottom: 25px;
        background: black;
    }



    .backgroundImg {
        width: 70vh;
    }



    @media (max-width: 600px) {
        .detail_card_v3 {
            display: grid;
            grid-template-columns: 1fr;
            grid-auto-rows: repeat(2, 50%);
            background: black;
        }
    }
}