.event-detail-card{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, auto);
    text-align: left;
}

.individual-event-detail-card {
    padding: 25px;
    display: flex;
    justify-content: center;
}

.see-moree{
    grid-column-start: 1;
    grid-column-end: 3;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s ease-in;

    display: flex; 
    justify-content: center;
    flex-direction: column;
    text-align: center;

    background: white;
}

.text-detail{
    padding: 20px; 
}

.buttons {
    display: flex;
    justify-content: center;

}

.see-moree.expanded {
    max-height: 10rem;
}

.the-detail{
    display: grid; 
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(2, auto);
    border: 3px solid black;
    border-radius: 15px;
     
    max-width: 1000px;

    overflow:hidden;
}

@media screen and (min-width: 1000px) {
    .the-detail {
        min-width: 1000px;
        height: 300px; 
    }
}

button:hover{
    cursor: pointer;
}

.image-2 {
    min-height: 300px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#img-1 {
    background-image: url("images/1.jpg");
}

#img-2 {
    background-image: url("images/2.jpg");
}

#img-3 {
    background-image: url("images/3.jpg");
}

#img-4 {
    background-image: url("images/4.jpg");
}

#img-5 {
    background-image: url("images/1.jpg");
}