.event-detail-card{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, auto);
    text-align: left;
}

.individual-event-detail-card {
    padding: 25px;
    display: flex;
    justify-content: center;
}

.text-detail{
    padding-top: 30px; 
    padding-left: 25px; 
    padding-right: 25px; 
    color: black;
    z-index: 3;
}

.the-text {
        /* The rounded box around the text */
        background: white;
        padding: 40px;
        border-radius: 20px;
}

.buttons {
    display: flex;
    justify-content: center;
    padding: 20px;

}

.thedownarrowbuttondiv {
    margin: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    overflow: visible
}

/*If I don't this, the butotn would be as wide as thedownarrowbuttondiv */
.button-event {
    background: transparent;
    border: none;
    height: 40px;
}

.chevron-event {
    width: 35px;
    transform: rotate(0deg);

    transition: transform 0.5s ease-in-out;
}

.chevron-event.rotate {
    transform: rotate(180deg);
}

.see-more-see-less-text-event {
    text-align: center;
    color: white;
    font-weight: bolder;
}

.see-moree{
    grid-column-start: 1;
    grid-column-end: 3;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
    position: relative;

    display: flex; 
    justify-content: center;
    flex-direction: column;
    text-align: center;

    background: black;
}

.see-moree.expanded {
    max-height: 100rem;
}

.the-detail{
    display: grid; 
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(2, auto);
    border: 3px solid black;
    border-radius: 15px;
     
    max-width: 1000px;

    overflow:hidden;
}

@media screen and (min-width: 1000px) {
    .the-detail {
        min-width: 1000px;
        min-height: 300px; 
    }
}

@media screen and (max-width: 1000px) {
    *{
        overflow-x: hidden;
    }
}

button:hover{
    cursor: pointer;
}


.image-2 {
    min-height: 300px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#img-1 {
    background-image: url("images/1.jpg");
}

#img-2 {
    background-image: url("images/2.jpg");
}

#img-3 {
    background-image: url("images/3.jpg");
}

#img-4 {
    background-image: url("images/4.jpg");
}

#img-5 {
    background-image: url("images/1.jpg");
}


.event-detail {
    display: grid;
    grid-template-columns: repeat(1, 100%);
    grid-template-rows: repeat(3, auto); 
}

.event-detail h1{ 
    color: white; 
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
}

.event-detail p {
    color: white; 
    padding-left: 30px;
    padding-right: 30px;
}

.event-detail button{
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-1{
    max-width: 200px; 
    max-height: 50px;
    padding: 15px 0;
    text-align: center;
    margin: 20px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #009688;
    background: transparent; 
    color: #fff;
    cursor: pointer;
    position: relative; 
    overflow: hidden; 
}

.button-2 {
    width: 200px; 
    padding: 15px 0;
    text-align: center;
    margin: 20px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #009688;
    background: transparent; 
    color: #fff;
    cursor: pointer;
    position: relative; 
    overflow: hidden; 
    z-index: 2; 
}

.span-1{
    background: #009688;
    height: 100%; 
    width: 0; 
    border-radius: 25px; 
    position: absolute; 
    left: 0;
    bottom: 0; 
    z-index: -1;
    transition: 0.5s; 
    z-index: -1;  
}

button:hover span{
    width: 100%;
}

.background-image {
    /* Centered the image across row 2 */
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 100%; 
    z-index: 1;
    opacity: 0.7;   
}

.card-break{
    position: relative; 
    width: 100%;
    height: 50vh;
    background: transparent; 
}

.detail-card {
    background: grey;
}