.event-detail-card{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
    text-align: left;
}

.individual-event-detail-card {
    padding: 25px;
}

.see-moree{
    grid-column-start: 1;
    grid-column-end: 3;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s ease-in;

    display: flex; 
    justify-content: center;
    flex-direction: column;
    text-align: center;


}

.text-detail{
    padding: 20px; 
}

.buttons {
    display: flex;
    justify-content: center;

}

.see-moree.expanded {
    max-height: 10rem;
}

.the-detail{
    display: grid; 
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(2, auto);
    border: 3px solid black;
    border-radius: 15px;
    
    overflow:hidden;
}

button:hover{
    cursor: pointer;
}