.mobile-nav-toggle { 
    display: none;
}

.navigationBar{
    width: 85%;
    margin: auto;
    padding: 10px 0;
    display: flex; 
    align-items: center;
    justify-content: right;
}

.logo{
    width: 55px;
    cursor: pointer; 
}

.navigationBar ul li{
    list-style: none; 
    display: inline-block; 
    margin: 0 20px;
    position: relative;
}

.navigationBar ul li a{
    text-decoration: none;
    color: #fff;
    display: block; 
    line-height: 60px;
    white-space: nowrap;

    text-transform: uppercase; 
}

/* This is only for the navigation bar dropdown menu */
.navigationBar ul li button {
    text-decoration: none;
    color: #fff;
    display: block; 
    line-height: 60px;
    white-space: nowrap;

    text-transform: uppercase; 
    border: none; 
    background: none;
}

.navigationBar ul ul {
    position: absolute; 
    top: 60px; 
    display: none;
}

@media screen and (min-width: 1001px) {
    .navigationBar ul li:hover > ul {
        display: block; 
        z-index: 100000000;
    }

    .navigationBar ul li:hover ul li {
        display: flex;
        flex-direction: column;
        background-color: grey;
    }
}

.navigationBar ul ul li{
    padding-right: 20px;
    padding-left: 20px;
    float: none; 
    display: list-item;
    width: auto;
    white-space: nowrap;
    position: relative; 
    transform: translateX(-20px);
}

.link {
    position: relative;
    width: fit-content;
    height: fit-content;
}

/* Instead of having the underline show up below a "ul li", have it show up below a div or just under a class */
.link::after{
    content: '';
    height: 3px;
    width: 0;
    background: #89142e;
    position: absolute;
    left: 0; 
    top: calc(100% - 0.5rem);
    transition: 0.5s; 
    z-index: 10000;
}

.link:hover::after {
    width: 100%;
}

/*Make sure the smaller screenn gets a smaller font */
@media screen and (max-width: 1000px) and (min-width: 900px) {
    .navbar{ 
        position: fixed;
        inset: 0 0 0 30%;

        padding: 2em; 
        background: hsl(0 0% 0%/ 0.75);
        overflow: scroll;
        font-size: 45px;

        text-decoration-color: aliceblue;
        /* Moves the menu off of the screen */
        transform: translateX(100%); 
        transition: transform 350ms ease-in-out;
    }

    .navbar[data-visible="true"] {
        transform: translateX(0);
    }

    .navigationBar{
        width: 100%;
        padding: 10px 0;

        display: flex;
        justify-content: flex-start;
    }

    .navigationBar ul li{
        padding-bottom: 50px;
    }

    .navigationBar ul {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, auto);
        text-align: left;
    }

    .navigationBar ul ul {
        max-height: 0px;
        overflow: hidden;
        transition: max-height 0.5s ease-in;

        position: relative; 
        top: calc(0% + 40px);
        left: calc(0% + 3rem);

        display: block;
    }

    .navigationBar ul ul.expanded{
        max-height: 1000px;
    }
    
    .navigationBar ul ul li{
        white-space: nowrap;
    }

    

    .mobile-nav-toggle { 
        display: block;
        position: absolute;
        z-index: 1000;
        background: url(images/Hamburger_Icon.svg.png); 
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        width: 2rem;
        aspect-ratio: 1/1;
        border: 0;
        top: 2rem; 
        right: 10rem;
    }

    .mobile-nav-toggle[aria-expanded="true"] {
        background-image: url("images/Icon-Close.png");
    }

    @supports (backdrop-filter: blur(3rem)) {
        .navbar{
            background: hsl(0 0% 100%/0.1);
            backdrop-filter: blur(3rem);
        }
    }   
}

@media screen and (max-width: 900px) {
    .navbar{ 
        position: fixed;
        inset: 0 0 0 0;

        padding-top: 2em;
        padding-left: 1em; 
        padding-right: 0;
        background: hsl(0 0% 0%/ 0.75);
        overflow: scroll;
        font-size: 38px;

        text-decoration-color: aliceblue;
        /* Moves the menu off of the screen */
        transform: translateX(100%); 
        transition: transform 350ms ease-in-out;
    }

    .navbar[data-visible="true"] {
        transform: translateX(0);
    }

    .navigationBar{
        width: 100%;
        padding: 10px 0;

        display: flex;
        justify-content: flex-start;
    }

    .navigationBar ul li{
        padding-bottom: 50px;
    }

    .navigationBar ul {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, auto);
        text-align: left;
    }

    .navigationBar ul ul {
        max-height: 0px;
        overflow: hidden;
        transition: max-height 0.5s ease-in;

        position: relative; 
        top: calc(0% + 40px);
        left: calc(0% + 15px);

        display: block;
    }

    .navigationBar ul ul.expanded{
        max-height: 1000px;
    }
    
    .navigationBar ul ul li{
        white-space: nowrap;
    }
    
    .navigationBar ul li:hover ul li {
        background-color: transparent;
    }
    

    .mobile-nav-toggle { 
        display: block;
        position: absolute;
        z-index: 1000;
        background: url(images/Hamburger_Icon.svg.png); 
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        width: 2rem;
        aspect-ratio: 1;
        border: 0;
        top: 2rem; 
        right: 10rem;
    }

    .mobile-nav-toggle[aria-expanded="true"] {
        background-image: url("images/Icon-Close.png");
    }

    .navigationBar ul li button {
        font-size: 38px;
    }

    @supports (backdrop-filter: blur(3rem)) {
        .navbar{
            background: hsl(0 0% 100%/0.1);
            backdrop-filter: blur(3rem);
        }
    }   
}

.stuff {
    position: fixed;
    width: 100vw;
    height: 70px; 
    text-align: center;
    text-decoration-color: aliceblue;
    z-index: 1000;
}

.header-logo { 
    position: absolute; 
    top: calc(0% + 0.55rem);
    left: 5%;
    display: flex; 
    align-items: center;
    justify-content: left;
}

.header-blur {
    position: fixed;
    top: 0%;
    left: 0;
    width: 100%;
    height: 80px; 
    background: hsl(0 0% 0%/ 0.75);
    z-index: 10;
}

@supports (backdrop-filter: blur(3rem)) {
    .header-blur{
        background: hsl(0 0% 100%/0.1);
        backdrop-filter: blur(3rem);
    }
}  