.image {
border: 1em solid #fff;
border-radius: .25em;
box-shadow: 1em 1em 2em .25em rgba(0,0,0,.2);
margin: 2em auto;
max-width: 600px;
opacity: 0;
-webkit-transform: translateY(4em) rotateZ(-5deg);
        transform: translateY(4em) rotateZ(-5deg);
-webkit-transition: opacity .3s .25s ease-out,
            -webkit-transform 4s .25s cubic-bezier(0,1,.3,1);
transition: opacity .3s .25s ease-out,
            -webkit-transform 4s .25s cubic-bezier(0,1,.3,1);
transition: transform 4s .25s cubic-bezier(0,1,.3,1),
            opacity .3s .25s ease-out;
transition: transform 4s .25s cubic-bezier(0,1,.3,1),
            opacity .3s .25s ease-out,
            -webkit-transform 4s .25s cubic-bezier(0,1,.3,1);
width: 90%;

will-change: transform, opacity;
}

.image.is-visible {
opacity: 1;
-webkit-transform: rotateZ(-2deg);
        transform: rotateZ(-2deg);
}