*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif; 
}

.banner-image {
    height: 100vh;
    position: relative;
    background-size: cover;
    background-image: url(images/verticalPicTest.jpeg);
    /* Adds the "filter" over the background image */
    background-color: rgba(0,0,0,0.7);
    background-blend-mode: multiply;
    
    background-position: center;
}

.banner-title {
    position: absolute; 
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
    width: 100%;
    z-index: 1;
    text-transform: uppercase;
}

.detail-card{
    position: relative;
    background-color: grey;
}

.header-text{
    padding-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    color: white; 
    font-size: 40px;
    text-transform: uppercase;
    background-color: grey;
}

.text-break{
    content: '';
    height: 3px;
    width: 100%;
    background: white;
    margin-top: 20px;
    margin-bottom: 20px
}

.text-2{
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
}

.images {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calendar {
    position: relative; 
    display: flex; 
    justify-content: center;
    padding: 20px;
}

.calendar-link {
    position: relative;
    display: flex; 
    justify-content: center;
    padding: 40px;
}