.fixed_background {
    position: fixed; 
    overflow: hidden;   
    background-image: url( ../../images/otherBackground.jpg);
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 110%;
    z-index: -1;

    background-color: rgba(0,0,0,0.5);
    background-blend-mode: multiply;
}


.event-category-container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, auto);
    text-align: center;
    background-color: black;
}



.individual-event-detail-card {
    padding: 25px;
    display: flex;
    justify-content: center;
}



.event-details{
    display: grid; 
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(2, auto);
    border: 3px solid black;
    border-radius: 15px;
    background-color: grey;

    
    max-width: 1000px;

    overflow:hidden;
    overflow-y: visible;
}
@media screen and (min-width: 1000px) {
    .event-details {
        min-width: 1000px;
        min-height: 300px; 
    }
}



#event-img-1 {
    background-image: url(../../images/1.jpg);
}
#event-img-2 {
    background-image: url(../../images/2.jpg);
}
#event-img-3 {
    background-image: url(../../images/3.jpg);
}
#event-img-4 {
    background-image: url(../../images/4.jpg);
}
#event-img-5 {
    background-image: url(../../images/1.jpg);
}



.event-info {
    display: grid;
    grid-template-columns: repeat(1, 100%);
    grid-template-rows: repeat(3, auto); 
}
.event-info h1{ 
    color: white; 
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
}
.event-info p {
    color: white; 
    padding-left: 30px;
    padding-right: 30px;
}
.event-info button{
    display: flex;
    justify-content: center;
    align-items: center;
}



.chevron-btn-container {
    margin: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    overflow: visible
}



.see-more-see-less-text-events {
    text-align: center;
    color: white;
    font-weight: bolder;
}



.button-events {
    background: transparent;
    border: none;
    height: 40px;
}



.chevron-events {
    width: 35px;
    transform: rotate(0deg);

    transition: transform 0.25s ease-out;
}
.chevron-events.rotate {
    transform: rotate(180deg);
}



.event-description{
    grid-column-start: 1;
    grid-column-end: 3;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
    position: relative;

    display: flex; 
    justify-content: center;
    flex-direction: column;
    text-align: center;

    background: black;
}
.event-description.expanded {
    max-height: 100rem;
}



.event-description-background-image {
    /* Centered the image across row 2 */
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 100%; 
    z-index: 1;
    opacity: 0.7;   
}



.event-description-text-container{
    padding-top: 30px; 
    padding-left: 25px; 
    padding-right: 25px; 
    color: black;
    z-index: 3;
}



.event-description-text {
    /* The rounded box around the text */
    background: white;
    padding: 40px;
    border-radius: 20px;
}



.events_description_btn_container {
    display: flex;
    justify-content: center;
    padding: 20px;

}



.events_description_btn {
    width: 200px; 
    padding: 15px 0;
    text-align: center;
    margin: 20px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #009688;
    background: transparent; 
    color: #fff;
    cursor: pointer;
    position: relative; 
    overflow: hidden; 
    z-index: 2; 
}



.span-1{
    background: #009688;
    height: 100%; 
    width: 0; 
    border-radius: 25px; 
    position: absolute; 
    left: 0;
    bottom: 0; 
    z-index: -1;
    transition: 0.5s;   
}
.events_description_btn:hover .span-1{
    width: 100%;
}



.card-break{
    position: relative; 
    width: 100%;
    height: 50vh;
    background: transparent; 
}




/* miscellaneous */
@media screen and (max-width: 1000px) {
    *{
        overflow-x: hidden;
    }
}



button:hover{
    cursor: pointer;
}